Source: spectool
Section: maemo/Applications
Priority: optional
Maintainer: Mike Kershaw <dragorn@kismetwireless.net>
Package: Spectool
Version: 2007-10-R1
Architecture: all
Pre-Depends: maemo-select-menu-location
Depends: libusb-0.1-4
Installed-Size: 190
Description: Spectool spectrum analyzer.
 Port of the Spectool-GTK spectrum analyzer for the Maemo platform,
 for use with USB and network devices such as the Wi-Spy spectrum 
 analyzer by Metageek
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c
 6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9cMDQIUFi2LBYEAAANH
 SURBVEjH7ZVfaFtVHMc/5+Tem5vkJk3SNG2otls7p1SzmE3maqesc7ZGpuLU
 CrOgU9wcIhXyIMheRPBBRJ8EJ0gRFFacHQ63wR7U6hY7UDaHWp1uC+p0W0pq
 JbFJk3uPD6lp/bMh2sd+Xw7n/M7v+z3n9/ud34ElLGEOov/2lAqGopz/KYtd
 tUEA6g/r3KhAzS3mK4KL+Smwq3US6ZJs2tCLEIJvz/6IGYzgjncy8fVFEtOn
 mJ6eRtMNC0cFsXwWfX198+SXQPZCniPjx8CxqVYqtfMIgVMpM1MqIu0yhtck
 YEVZl4zRH+wim80i2pYtU8WZMg8ODLB6TZJMJrPoYUsmk2im243X6wcUY2Nj
 DA8PL7pQOp1GS6zuoS2yAqHlFzv9C5IN8vvsKfYf3kOlOhdvzMu6a6z4VzJh
 duNh87yQaRrEr78OJUDgoYFnL+EqCbCLGMeRRC4rYrEDi8cI8yoSf827NRZj
 aPvjCMDHQ1jsRNJQp67d0iLCHoI8h8DCzxN1UpN+PKTqc50EIV4CwEUrAXbV
 uDLHxtm6bRClFAZrkfix2InATzMf4+cpmnkfL/fXyfw8iSSMySaa2EeYN9C4
 CoFJhBEE3gV7h9C5Bk1v7aAztY4ZXwf68ZoxQBqTjeisIsTL/xDERiLsxSCJ
 wIMLD1Heo8SH6Fz9l5JwY5BEaqUCDd/lcefOLSCKEDBv5tZ732HLjt24tOrf
 xEx6kQTrc6+7nfaWuwiEprj70ddpaj335yKyyyUKP5xGRhtZf+d+2m8bYfJk
 HF/3OO+mX8Su6DzyzPMcHnmAntQhcj/HmPj0BlYmPufowTtwPDNEezL0J07g
 tQpM5Zo49OYgG+7Zh9cqUC6ZtK0Mo9m2TWn2NwByaz/j6C9fMTUZJRKfQN1y
 hOKJBG8f2Ezv4Fsc2HsfTcvPsmbLKF9+0s3WF56meeMHeFrO80rqIJMn47is
 IsqWjL62HV/nGUKdp/GZjYhru9erjpYoy7tW0TVU4qPC6H96nsqRqFkDpAOO
 xJk1cPmKCOFw45mHkcUru/iirKEHgv+vD0gHaZaQxizSLKEFfkW4bJAK4S6j
 3TSwDakc5IVv6Mi1469esei9rjzpWvqQlzCP3wGUt/eFqLOubwAAAABJRU5E
 rkJggg==
