[Desktop Entry]
Encoding=UTF-8
Version=2007-10-R1
Type=Application
Name=Spectool
Exec=/usr/bin/spectool
Icon=spectool
StartupWMClass=spectool
X-Window-Icon=spectool
X-Osso-Service=net.kismetwireless.spectool
X-HildonDesk-ShowInToolbar=true
MimeType=application/x-spectool
Terminal=false
